@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body{
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
hr{
    
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 235, 209);
    height: 350px;
    width: 360px;
    border-radius: 5%;
    box-shadow: -5px 5px 15px black;
}
.informacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img{
    background: url(../imagem/20221021221722_IMG_7956_2.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: -5px 5px 15px black;
}
.nome{
    text-align: center;
}
.cidade {
    color: var(--text-color);
    text-align: center;
    margin: 10px 0;
}
span{
    color: var( --text-color);
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.valor{
    text-align:center;
    margin: 30px;
}
@media (max-width : 450px){
    .valor{
        margin: 20px;
    }
    .card{
        height: 300px;
        width: 300px;
    }

}